<section class="fuente03" style="padding-top: 5%;">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Inicie sesión para <br />
                        <span class="text-primary">acceder a la edición</span>
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                        quibusdam tempora at cupiditate quis eum maiores libero
                        veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form class="fuente02">
                                <h2 class="fw-bold">Iniciar Sesión</h2><hr />
                                
                                    <mat-form-field appearance="outline" style="width: 100%">
                                        <mat-label for="username">Nombre de usuario</mat-label>
                                        <input matInput type="text" id="username"  required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" style="width: 100%">
                                        <mat-label for="passwd">Contraseña</mat-label>
                                        <input matInput type="password" id="passwd" required>
                                    </mat-form-field>
                                
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>