<main class="fuente02">

<div class="alert alert-warning d-flex align-items-center rounded-0" role="alert">
    <h3><i class="bi bi-exclamation-triangle-fill me-3"></i></h3>
    <div>
        Este sitio web se encuentra en desarrollo, por lo que es 
        posible que veas constantes cambios. Pero no te preocupes, 
        te traeremos grandes cosas.
    </div>
</div>

<div class="container fuente03">
    <div class="card mb-4">
        <div class="card-body">

        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        </div>
    </div>
</div>

</main>
